.tarjeta-producto{
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
}

.tarjeta-producto img{
    height: 150px;
    aspect-ratio: 0.9;
    border-radius: 10px;
    
}

.tarjeta-producto h3{
    width: 130px;
}

#totales, #carrito-vacio{
    text-align: center;
}



